@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 2px;
    border-radius: 30px;

}
::-webkit-scrollbar-thumb {
    background: #73dfff;
    border-radius: 10px;
    width: 8px;
    height: 2px;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #121212;
    font-family: Poppins,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

.nav li {
    float:right;
    display: block;
    justify-content: space-between;
    padding: 22px;
    font-weight: 500;
}

#title {
    padding-left: 30px;
    word-spacing: 2px;
    color: white;
    padding-top: 17px;
}

.nav li a {
    transition: all .7s ease 0s;
    color: #fff;
}

.nav li a:hover {
    color: #73dfff;
    letter-spacing: 2px;
    text-shadow: #fff;
}

#particles-js {
    padding-top: 100px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 120vh;
}


#main {
    width: 100%;
    height: 1920px;
}

#second {
    width: 100%;
    height: 1920px;
}


#hamburger {
    padding-top: 57px;
    padding-right: 30px;
    display: none;
    cursor: pointer;
}

.nav_dropdown {
    display: none;
    position: absolute;
    right: 1rem;
    margin-top: 80px;
    width: 200px;
    background-color: #73dfff;
}

.nav_dropdown li {
    list-style: none;
    display: none;
}

.nav_dropdown li a {
    text-decoration: none;
    color: #121212;
    font-weight: bold;
    transition-duration: 0.3s;
}

.nav_dropdown li a:hover {
    color: #fff;
    letter-spacing: 2px;

}

@media (max-width: 1050px) {
    #hamburger {
        display: inline-block;
    }

    .nav_dropdown {
        display: inline-block;
    }

    .nav {
        display: none;
    }
}#cards {
    justify-content: center;
    align-items: center;
    text-align: center
}

.card {
    margin: 30px;
    width: 25%;
    border-radius: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    align-items: center;
    padding: 20px;
    display: inline-block;
    flex: auto
}

.card h2 {
    color: rgb(172, 248, 176)
}

.card:hover {
    background-color: #313131;
    color: #fff;
    transition: all .6s ease 0s
}
@media (max-width: 709px) {
    .card {
        width:70%;
        font-size: 14px
    }

    .card-pog {
        width: 70%;
        font-size: 14px
    }}