@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 2px;
    border-radius: 30px;

}
::-webkit-scrollbar-thumb {
    background: #c6ffc6;
    border-radius: 10px;
    width: 8px;
    height: 2px;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #202020;
    font-family: Poppins,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav {
    float: right;
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-right: 20px;
    margin-top: 25px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

.nav li {
    float:right;
    display: block;
    justify-content: space-between;
    padding: 22px;
    font-weight: 500;
}

#title {
    padding-left: 30px;
    word-spacing: 2px;
    color: white;
    padding-top: 17px;
}

.nav li a {
    transition: all .7s ease 0s;
    color: #fff;
}

.nav li a:hover {
    color: #c6ffc6;
    letter-spacing: 2px;
    text-shadow: #fff;
}

#particles-js {
    padding-top: 100px;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 120vh;
}


#main {
    width: 100%;
    height: 100%;
}

#second {
    width: 100%;
    height: 1920px;
}


/* #hamburger {
    padding-top: 57px;
    padding-right: 30px;
    display: none;
    cursor: pointer;
} */

/* .nav_dropdown {
    display: none;
    position: absolute;
    margin-top: 80px;
    width: 200px;
    background-color: #73d5ff;
}

.nav_dropdown li {
    list-style: none;
    display: none;
}

.nav_dropdown li a {
    text-decoration: none;
    color: #202020;
    font-weight: bold;
    transition-duration: 0.3s;
}

.nav_dropdown li a:hover {
    color: #fff;
    letter-spacing: 2px;

} */

@media (max-width: 1050px) {
    #hamburger {
        display: inline-block;
    }

    .nav_dropdown {
        display: inline-block;
    }

    .nav {
        display: none;
    }

}
#cards {
    justify-content: right;
    align-items: right;
    text-align: right;
}

.card {
    margin: 65px;
    width: 55%;
    border-radius: 20px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    align-items: right;
    padding: 60px;
    display: inline-block;
    flex: auto;
    -webkit-box-shadow: 0px 0px 23px 13px rgba(198,255,198,1);
    -moz-box-shadow: 0px 0px 23px 13px rgba(198,255,198,1);
    box-shadow: 0px 0px 23px 13px rgba(198,255,198,1);
    margin-right: 90px;
    
}


.card h2 {
    color: #c6ffc6
}
.abt_img{
    float: left;
    margin: 40px;

}


@media (max-width: 710px) {
    .card {
        width:70%;
        font-size: 14px
    }

    .card-pog {
        width: 70%;
        font-size: 14px
    }
    .abt_img{
        width: 100%;
        height: auto;
    }    
}

    


#homepageTITLE {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 125px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
h3{
    padding-bottom: 80px;
    font-size: 26px;

}

#viewMoreHomePage {
    color: #202020;
    font-weight: bold;
    background-color: #c6ffc6;
    margin: 20px;
    padding: 15px;
    border-radius: 20%;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

#viewMoreHomePage:hover {
    background-color: #202020;
    color: #c6ffc6;
}

i {
    margin-top: 175px;
    padding-bottom: 180px;
}

i:Hover {
    color: #202020;
}
#top {
    display: none; 
    position: fixed; 
    bottom: 5px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #c6ffc6; 
    color: #202020; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 18px; 
    margin-bottom: 10px;
    height: 40px;
  }
  
  #top:hover {
    background-color:#202020; 
    color: #c6ffc6;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .up{
  margin-bottom: 20px;
  }
  img {
    vertical-align: middle;
    border-radius: 2%;
}

.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #202020;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.abt{
    float: right;
}
